<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>

</head>
<body>
<style>
  body {
            display: flex;
            align-items: center;
            justify-content: left;
            height: 20vh;
        }
        .button {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 5px;
}


</style>
<header>
    <h1>Your orders</h1>

    <ul>
        <li><a href="orders.html" class="button">Order no:</a> <time>01.05.2023</time></li>
        </ul>
    <ul>
        <li><a href="orders.html" class="button">Order no:</a> <time>01.05.2023</time></li>
    </ul>


</header>

</body>
</html>